@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: opensans;
    src: url(fonts/Open/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #e5e7eb;
}

html,body, .wrapper
{   min-height: 100vh;
    height: 100%;
    width: 100%;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    
}

.header{
    grid-column: 2/3;
    grid-row:1; 
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: opensans;
}
.sidebar{
    grid-column: 1;
    grid-row: 1/4;
    background-color: #2596be;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    

}
.main-content{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #F2DCC2;

}

.sidebar-wrapper{
    padding-top: 10%;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

div svg{
    fill: white;
    height: 35px;
    width: 35px;
}

.sidebar-wrapper h3, .sidebar-wrapper p{
    color: white;
}

.user-functions{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 20px;
}

.user-support{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}


.user-functions div{
    display: flex;
    gap: 8px;
    justify-items: center;
    align-items: center;
}

.user-support div{
    
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-functions{
    position: relative;
    top: 35px;
}

.user-support{
    position: relative;
    top: 70px;
}

.sidebar-wrapper{
    font-family: Montserrat;
}

.Dashboard{
    display: flex;
    gap: 15px;
}

.Dashboard svg{
    height: 50px;
    width: 50px;
}

.header-wrapper{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;    
}

.search-container{
    display: flex;
    align-items: center;
    gap: 10px;
    grid-column: 1/2;
    grid-row: 1/2;

}

.notif-container{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-info-container{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    gap: 18px;
}

.button-container{
    grid-column: 2/3;
    grid-row: 2/3;
}

.header-wrapper svg{
    fill: black;
}
.search-container .search-bar{
    border-radius: 20px;
    border: none;
    height: 30%;
    width: 70%;
    background-color: #e5e7eb;
}

.small-user-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.notif-container{
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: end;
    gap: 40px;
}

.big-user-pic{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.user-name{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.user-name p{
    font-weight: 500;
}

.user-name .id{
    font-size: 30px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button{
    font-size: 20px;
    color: white;
    background-color: #2596be;
    border-radius: 30px;
    height: 50%;
    width: 25%;
    border: none;
}

.main-content{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.main-wrapper{
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.card-container{
    font-family: opensans;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 80px;
    
}

.card{
    width: 100%;
    justify-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    border-left: 5px solid orange;
    justify-content: space-around;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    
    
    
    
}
.card svg{
    fill: black;
    height: 20px;
    width: 20px;
}

.p-tag{
    padding: 10px;
    font-weight: 500;
    font-size: 25px;
    font-family: opensans;
}

.project-info{
    width: 100%;
    align-self: flex-start;


}
.card-functions{
    display: flex;
    gap: 8px;
    justify-content: end;
}
.desc{
    color: gray;
}

.inner-sidebar{
    font-family: opensans;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px;
    gap: 10px;
}
.announcements{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
}
.announcements>p{
    padding-top: 10px;
    font-weight: 500;
    font-size: 25px;
    font-family: opensans;
    text-align: center;
    margin-bottom: 8px;

}
.announce-wrapper{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    justify-items: center;
    display: grid;
    height: 100%;
    width: 100%;
}
.announce-cont{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 15px;
    align-items: center;
    

    
}
.announce1{
    border-bottom: 1px solid gray;
    padding: 5%;

}

.announce1 p:first-child{
    font-weight: 1000;
    font-size: 15px;
    color: black;
}

.announce1:last-child{
    border: none;
}

.trending{
    display: grid;
    grid-template-rows: 1fr 6fr;
}
.trending>p{
    font-family: opensans;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 8px;

}
.trending-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.trending-card img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    right: 20px;
}
.trending-card{
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 8px;
}
.handle{
    font-family: montserrat;
    font-weight: 500;
}
.user-post{

}
